
<h1>Details Page  ( Interpolation Assignment)</h1>

<h2> The First record from object is <br>
  name - {{detail[0].name}} and City - {{detail[0].city}} </h2><br>

  <h2> The Second record from object is <br>
    name - {{detail[1].name}} and City - {{detail[1].city}} </h2><br>

    <h2> The First record from object is <br>
      name - {{detail[2].name}} and City - {{detail[2].city}} </h2><br><hr>

      <h1>Arithmatic Operations using interpolation</h1>

      <h2> Addition of a and b is {{a+b}}</h2>
      <h2> Subtraction of a and b is {{a-b}}</h2>
      <h2> Multiplication of a and b is {{a*b}}</h2>
      <h2>Division of a and b is {{a/b}}</h2>